@font-face {
	font-family: 'ProximaNova-Light';
	src: url('..//fonts/Proxima Nova Alt Light.eot');
	src: local('☺'), url('..//fonts/Proxima Nova Alt Light.woff') format('woff'), url('..//fonts/Proxima Nova Alt Light.ttf') format('truetype'), url('..//fonts/Proxima Nova Alt Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('..//fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('..//fonts/ProximaNova-Regular.woff') format('woff'), url('..//fonts/ProximaNova-Regular.ttf') format('truetype'), url('..//fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
   margin: 0;
   font-size: 14px; 
   font-family: 'ProximaNova-Light';
   color: #9d9d9d;
}
.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 80px;
    letter-spacing: -0.36em;
}
.container>* {
    letter-spacing: normal;
}
.col {
    display: inline-block;
    width: calc(33.3% - 20px);
    padding: 40px;
    margin: 0 10px 0 10px;
    text-align: center;
}
.col:first-child {
    margin-left: 0;
}
.col:last-child {
    margin-right: 0;
}
.title {
    font-family: 'ProximaNova-Regular';
    color: #000; 
    font-size: 14px;
    text-transform: uppercase;
}
.text {
    font-weight: 300;
    word-break: break-all;
}
.btn {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #1275b9;
    padding: 0;
    margin: 0;
    border: none;
    
}
img.hover {
    display: none;
}
.btn:hover {
    background: #fff;
    border: 1px solid #1275b9;
}
.btn:hover img {
    display: none;
}
.btn:hover img.hover {
    display: inline-block;
}