* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1000px;
    padding: 0 40px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-top: 7px solid #f2ac04;
}
.logo__img {
    display: inline-block;
    vertical-align: middle;
}
.logo__name {
    font-size: 34px;
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-size: 20px;
    color: #f2ac04;
}
.title__text {
    font-size: 14px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav__item {
    display: inline-block;
}